<div class="banner d-flex justify-content-center align-items-center pt-3">
    <section class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="./">
            Archihub <span>C</span>onstruction Company
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav mt-2">
            <a class="nav-link btn-2" href="./projects">Projects</a>
            <a class="nav-link btn-2" href="./gallery">Gallery</a>
            <a class="nav-link btn-2" href="./contact">Contact</a>
        </div>
    </section>
</div>
<div class="spacing"></div>

<section class="container-fluid col d-flex py-5">
    <div class="mapview">
        {{!-- small map --}}
        {{!-- <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d510515.6962559583!2d36.403810771012004!3d-1.5256913336695146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f0122aa58a15b%3A0xd97892062d3b74c3!2sARCHIHUB%20CONSTRUCTION%20COMPANY!5e0!3m2!1sen!2ske!4v1592831639348!5m2!1sen!2ske"
                width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe> --}}
        {{!-- medium map --}}
        {{!-- <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d255268.39522716092!2d36.40037757246095!3d-1.4340547092668106!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f0122aa58a15b%3A0xd97892062d3b74c3!2sARCHIHUB%20CONSTRUCTION%20COMPANY!5e0!3m2!1sen!2ske!4v1592833233315!5m2!1sen!2ske"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe> --}}
        {{!-- large map --}}
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d255268.39522716092!2d36.40037757246095!3d-1.4340547092668106!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f0122aa58a15b%3A0xd97892062d3b74c3!2sARCHIHUB%20CONSTRUCTION%20COMPANY!5e0!3m2!1sen!2ske!4v1592833233315!5m2!1sen!2ske"
            width="1000" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>
    <div class="card col-6 flex-fill">
        <div class="card-body d-flex flex-column align-items-center primary-light">
            <form action="./admin/mail" method="POST">

                <div class="form-group">
                    <label for="fullname">Full Name</label>
                    <input type="text" class="form-control" id="name" placeholder="full name" name="name">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Send Email</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                </div>
            </form>
        </div>
    </div>
</section>