<div class="banner d-flex justify-content-center align-items-center pt-3">
  <section class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="./">
      Archihub <span>C</span>onstruction Company
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav mt-2">
      <a class="nav-link btn-2" href="./projects">Projects</a>
      <a class="nav-link btn-2" href="./gallery">Gallery</a>
      <a class="nav-link btn-2" href="./contact">Contact</a>
    </div>
  </section>
</div>

<section class="hero d-flex align-items-center justify-content-around">
  <div class="hero__markup">
    <h5>We enhance lifestyle and value to your property</h5>
    <p>Archihub company takes on the role of main contractor for small to medium
      size projects, providing architectural and structural design solutions as value-add services to our
      clients.</p>
  </div>
  <div class="hero__image">
    <img src="images/construction.svg" alt="" srcset="">
  </div>
</section>

<section class="about d-flex flex-column">
  <img class="about__image" src="images/architecture-1857175_1280.jpg" alt="" srcset="">
  <h1 class="mb-5">WHAT WE OFFER</h1>
  <h3 class="mb-5">CONSTRUCTION SERVICES</h3>
  <div class="about__cards">
    <div class="construction_service">
      <img src="images/new_construction.jpg" alt="" srcset="">
      <h3>NEW CONSTRUCTION</h3>
      <ul>
        <li>General construction.</li>
        <li>Installation of load bearing structures</li>
        <li>Installation of heating, ventilation, plumbing</li>
        <li>Ground works.</li>
        <li>Controlled Targeted Demolitions.</li>
        <li>Rope Access Works</li>
      </ul>
    </div>
    <div class="construction_service">
      <img src="images/83.jpg" alt="" srcset="">
      <h3>REPAIR/RECONSTRUCTION</h3>
      <ul>
        <li>Production, restoration of historical lamps, chandeliers.</li>
        <li>Structural repairs, strengthening of structures</li>
        <li>Electrical works</li>
        <li>Roof repair.</li>
        <li>Waterproofing & Waterproof Coatings.</li>
        <li>Flood & Erosion Protection Barriers</li>
        <li>Sint deserunt esse placeat ducimus assumenda?</li>
      </ul>
    </div>
  </div>
  <a href="/contact" class="btn btn-primary">GET QUOTE</a>
</section>

<div class="core-services">
  <h1>ARCHITECTURAL SERVICES</h1>
  {{!-- <h1 class="title">OTHER CORE SERVICES</h1> --}}


  <div id="service-card" class="d-flex flex-row justify-content-around">

    <div class="card bg-primary" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title text-uppercase">STRUCTURAL DRAWING</h3>
        <p class="card-text">we draw plans and details on how a building or other structure will be built
        </p>

      </div>
    </div>
    <div class="card bg-primary" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title text-uppercase">ARCHITECTURAL DRAWING</h3>
        <p class="card-text">We develop a design idea into a coherent proposal
        </p>

      </div>
    </div>

    <div class="card bg-primary" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title text-uppercase">Building plans Approvals</h3>
        <p class="card-text">To ensure that buildings are constructed safe for human habitationas per govenment control
          we provide the following approvals-: <br>-NCA approvals <br> -county approvals <br>-Nema
        </p>

      </div>
    </div>

    <div class="card bg-primary" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title text-uppercase">Bill of quantity</h3>
        <p class="card-text">we provide documents used in tendering in construction industry</p>
        <p>We also Itemize materials, parts and labor(and their costs)</p>
      </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill-opacity="1" d="M0,256L1440,160L1440,320L0,320Z"></path>
    </svg>
  </div>


</div>
<section class="container-fluid py-5 mission d-flex">
  <div class="mission__markup">
    <h2 class="display-4 mb-4"><span class="accent">M</span>ission</h2>
    <article class="text-center">
      {{company.mission}}
    </article>
  </div>
  {{!-- <hr class="awesome-hr my-5"> --}}

</section>

<section class="objective">
  <div class="splitview skewed">
    <div class="panel bottom">
      <div class="content">
        <div class="description">
          <h1>VISION</h1>
          <p>{{company.vision}}</p>
        </div>

        <img src="images/structural_drawing.jpg" alt="Original">
      </div>
    </div>

    <div class="panel top">
      <div class="content">
        <div class="description">
          <h1>Objectives.</h1>
          <p>{{company.objective}}.</p>
        </div>

        <img src="images/structural_drawing.jpg" alt="Duotone">
      </div>
    </div>

    <div class="handle"></div>
  </div>
</section>
<h2 class="text-center my-5">FINISHES</h2>
<div class="slideshow-container">
  <div class="mySlides fader">
    <div class="sect d-flex ">
      <img class="flex-xl-grow-1" src="images/6.jpg" alt="">
      <img src="images/7.jpg" alt="">
      <img src="images/14.jpg" alt="">
    </div>
  </div>
  <div class="mySlides fader">
    <div class="sect d-flex ">
      <img class="flex-xl-grow-1" src="images/21.jpg" alt="">
      <img src="images/27.jpg" alt="">
      <img src="images/67.jpg" alt="">
    </div>
  </div>
  <div class="mySlides fader">
    <div class="sect d-flex ">
      <img class="flex-xl-grow-1" src="images/59.jpg" alt="">
      <img src="images/62.jpg" alt="">
      <img src="images/64.jpg" alt="">
    </div>
  </div>
  <div class="mySlides fader">
    <div class="sect d-flex ">
      <img class="flex-xl-grow-1" src="images/36.jpg" alt="">
      <img src="images/68.jpg" alt="">
      <img src="images/81.jpg" alt="">
    </div>
  </div>


  <!-- Next and previous buttons -->
  <!--
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    -->
</div>

<section class="container-fluid px-3 my-5">
  <h2 class="mb-3">RECENT PROJECTS</h2>
  <div class="card-deck my-5">

    {{#each projects}}

    <div class="card">

      <img src="images/{{this.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title font-weight-bolder text-center">{{this.location}}</h5>
        <p class="card-text"><strong>CLIENT:</strong> {{this.client}}</p>
        <p class="card-text"><strong>COST:</strong> {{this.cost}}M</p>
        <p class="card-text"><strong>DURATION:</strong> {{this.duration}}</p>
        <p class="card-text"><strong>YEAR:</strong> {{this.year}}</p>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="d-flex justify-content-center"><a href="./projects" class="btn btn-lg arch-btn">Show More Projects</a>
  </div>

</section>
<footer class="mt-5">
  <div class="curved">

  </div>
  <div class="container my-5 d-flex justify-content-between">
    <div class="footer-heading d-flex flex-column">
      <h1> {{company.name}}</h1>
      <hr class="bg-light w-100">
      <p class="lead"> {{company.tagline}}</p>
    </div>
    <div class="d-flex flex-column  ">
      <div class="social">
        <i class="fab mx-2 fa-facebook fa-2x"></i>
        <i class="fab mx-2 fa-instagram fa-2x"></i>
        <i class="fab mx-2 fa-twitter fa-2x"></i>
      </div>
      <div class="contact d-flex flex-column mt-3 align-items-start">
        <a href="#" class="footer-link"><i class="fas fa-phone"></i>0713 810 398</a>
        <a href="#" class="footer-link"><i class="fas fa-phone"></i>0734 706 427</a>
        <a href="#" class="footer-link"><i class="fas fa-envelope-square"></i>archihubconstruction@yahoo.com</a>
      </div>

    </div>
  </div>
  <div class="container my-5 d-flex flex-column justify-content-around">
    <div class="d-flex justify-content-around footer-nav">
      <a class="footer-link" href="./contact">Contact</a>
      <a class="footer-link" href="./projects">Projects</a>
      <a class="footer-link" href="./gallery">Gallery</a>
    </div>
  </div>
  <div class="container">
    <hr class="awesome-hr">
  </div>

  <div class="webdev">
    <p class="mr-3">Copyright <span>2020</span></p>

    <p class="dev">design: <a href="http://portfolio.mutalldevs.co.ke" class="footer-link" target="_blank">amshel</a>
    </p>
  </div>
</footer>
<script>

  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    //if (n > slides.length) { slideIndex = 1 }
    //if (n < 1) { slideIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) { slideIndex = 1 }
    slides[slideIndex - 1].style.display = "block";
    setTimeout(showSlides, 2000);
  }
</script>

{{!-- <script>
  const DOMReady = ((
    callback = () => { },
    element = document,
    listener = 'addEventListener'
  ) => {
    return (element[listener]) ? element[listener]('DOMContentLoaded', callback) : window.attachEvent('onload', callback);
  });

  const ProjectAPI = (() => {
    let hasClass,
      addClass,
      removeClass;

    hasClass = ((el, className) => {
      if (el === null) {
        return;
      }

      if (el.classList) {
        return el.classList.contains(className);
      }
      else {
        return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
      }
    });

    addClass = ((el, className) => {
      if (el === null) {
        return;
      }

      if (el.classList) {
        el.classList.add(className);
      }
      else if (!hasClass(el, className)) {
        el.className += ' ' + className
      }
    });

    removeClass = ((el, className) => {
      if (el === null) {
        return;
      }

      if (el.classList) {
        el.classList.remove(className);
      }
      else if (hasClass(el, className)) {
        let reg = new RegExp('(\\s|^)' + className + '(\\s|$)');

        el.className = el.className.replace(reg, ' ');
      }
    });

    return {
      hasClass: hasClass,
      addClass: addClass,
      removeClass: removeClass
    };
  })();



  const readyFunction = (() => {

    const KEY_UP = 38;
    const KEY_DOWN = 40;

    let scrollingClass = 'js-scrolling',
      scrollingActiveClass = scrollingClass + '--active',
      scrollingInactiveClass = scrollingClass + '--inactive',

      scrollingTime = 1350,
      scrollingIsActive = false,

      currentPage = 1,
      countOfPages = document.querySelectorAll('.' + scrollingClass + '__page').length,

      prefixPage = '.' + scrollingClass + '__page-',

      _switchPages,
      _scrollingUp,
      _scrollingDown,

      _mouseWheelEvent,
      _keyDownEvent,

      init;

    /**
     *  @function _switchPages
     *
     *  @private
     */
    _switchPages = () => {

      let _getPageDomEl;

      /**
       *  @function _getPageDomEl
       *
       *  @param page
       *  @returns {Element}
       *  @private
       */
      _getPageDomEl = (page = currentPage) => {
        return document.querySelector(prefixPage + page);
      };

      scrollingIsActive = true;


      ProjectAPI.removeClass(
        _getPageDomEl(),
        scrollingInactiveClass
      );
      ProjectAPI.addClass(
        _getPageDomEl(),
        scrollingActiveClass
      );

      ProjectAPI.addClass(
        _getPageDomEl(currentPage - 1),
        scrollingInactiveClass
      );

      ProjectAPI.removeClass(
        _getPageDomEl(currentPage + 1),
        scrollingActiveClass
      );


      setTimeout(
        () => {
          return scrollingIsActive = false;
        },
        scrollingTime
      );
    };
    /**
     *  @function _scrollingUp
     *
     *  @private
     */
    _scrollingUp = () => {
      if (currentPage === 1) {
        return;
      }

      currentPage--;

      _switchPages();
    };
    /**
     *  @function _scrollingDown
     *
     *  @private
     */
    _scrollingDown = () => {
      if (currentPage === countOfPages) {
        return;
      }

      currentPage++;

      _switchPages();
    };
    /**
     *  @function _mouseWheelEvent
     *
     *  @param e
     *  @private
     */
    _mouseWheelEvent = (e) => {
      if (scrollingIsActive) {
        return;
      }

      if (e.wheelDelta > 0 || e.detail < 0) {
        _scrollingUp();
      }
      else if (e.wheelDelta < 0 || e.detail > 0) {
        _scrollingDown();
      }
    };
    /**
     *  @function _keyDownEvent
     *
     *  @param e
     *  @private
     */
    _keyDownEvent = (e) => {
      if (scrollingIsActive) {
        return;
      }

      let keyCode = e.keyCode || e.which;

      if (keyCode === KEY_UP) {
        _scrollingUp();
      }
      else if (keyCode === KEY_DOWN) {
        _scrollingDown();
      }
    };

    /**
     *  @function init
     *
     *  @note     auto-launch
     */
    init = (() => {
      document.addEventListener(
        'mousewheel',
        _mouseWheelEvent,
        false
      );
      document.addEventListener(
        'DOMMouseScroll',
        _mouseWheelEvent,
        false
      );

      document.addEventListener(
        'keydown',
        _keyDownEvent,
        false
      );
    })();

  });


  /**
   *  Launcher
   */
  DOMReady(readyFunction);

</script> --}}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var parent = document.querySelector('.splitview'),
      topPanel = parent.querySelector('.top'),
      handle = parent.querySelector('.handle'),
      skewHack = 0,
      delta = 0;

    // If the parent has .skewed class, set the skewHack var.
    if (parent.className.indexOf('skewed') != -1) {
      skewHack = 1000;
    }

    parent.addEventListener('mousemove', function (event) {
      // Get the delta between the mouse position and center point.
      delta = (event.clientX - window.innerWidth / 2) * 0.5;

      // Move the handle.
      handle.style.left = event.clientX + delta + 'px';

      // Adjust the top panel width.
      topPanel.style.width = event.clientX + skewHack + delta + 'px';
    });
  });
</script>