// @import url('../components/font-awesome/css/fontawesome.css');
//font face
@font-face {
  font-family: "proxima-regular";
  src: url(../fonts/proxima/ProximaNova-Regular.otf);
}

@font-face {
  font-family: "gotham-regular";
  src: url(../fonts/gotham/GothamMedium.ttf);
}

@font-face {
  font-family: "gotham-bold";
  src: url(../fonts/gotham/GothamBold.ttf);
}

@font-face {
  font-family: "graphik";
  src: url(../fonts/graphik/GraphikRegular.otf);
}

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf);
}

@font-face {
  font-family: "shadowfont";
  src: url(../fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);
}
//sass fuctions, arraya methods
$colors: (
  primary: #3b3c36,
  // secondary: #f7f7ee,
    // accent: #c8102e,
    accent: #0288d1,
  secondary: #eeeeee // accent:#FFA726 ,
    // accent:#4A148C,
    // accent:#4CAF50,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);

//function for getting the color
@function color($color) {
  @return map-get($map: $colors, $key: $color);
}
// root global css
* {
  box-sizing: border-box;
}

body {
  font-family: graphik;
  margin: 0;
  padding: 0;
  outline: none;
  background: color(secondary);
  height: 100vh;
}

.container-fluid {
  padding: 0;
}
h1,
h2,
h3,
h4 h5,
h6 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

a {
  position: relative;
  transition: 0.5s ease;
}

//all anchor tags
a:hover {
  text-decoration: none;
  i {
    color: color(accent);
  }
}

//accent indiidual css
.accent {
  color: color(accent);
}
.accent-background {
  background-color: color(accent);
}

// style all font awesome tags
i {
  color: color(secondary);
  transition: color 1s ease;
  margin-right: 10px;
}
i:hover {
  color: color(accent);
}

//global spacing element. this comes as an additional css to already bootstrap styling
.spacing {
  margin: 5em 0;
}

//button styling
.arch-btn {
  cursor: pointer;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  color: color(accent);
  background: color(secondary);
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  user-select: none;
  border: 1px solid color(accent);
}

.arch-btn:hover {
  color: color(secondary);
  background: color(accent);
}

/* Awesome hr */
hr {
  margin: 0 !important;
}
hr.awesome-hr {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: color(accent);
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.awesome-hr:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: color(accent);
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

hr.cool-hr {
  height: 1px;
  background: color(accent);
  border: none;
  outline: none;
  margin: 3em 3em 5em;
  position: relative;

  &:before {
    content: attr(data-symbol);
    position: absolute;
    top: 0;
    left: 50%;
    background: color(secondary);
    color: color(primary);
    padding: 0.5em 3em;
    transform: translate(-50%, -50%);
    border: 1px solid color(accent);
  }
}

.vertical-hr {
  height: inherit;
  .hr-right {
    border-style: solid;
    width: 20px;
    border-color: color(accent);
    border-width: 0 0 0 1px;
    border-radius: 20px;
    height: 100%;
  }
  .hr-left {
    border-style: solid;
    width: 20px;
    border-color: color(accent);
    border-width: 0 1px 0 0;
    border-radius: 20px;
    height: 100%;
  }
}
//navbar styling
.navbar {
  transition: top 0.8s;
  width: 100%;
  background-color: color(secondary);
  z-index: 999999;
  height: 100px;
  i {
    color: color(primary) !important;
  }
}

.hidden {
  top: -100px;
}

.navbar-brand {
  color: #209cee;
  font-weight: bolder;
  font-size: 2em;
  text-transform: uppercase;
}

.navbar-brand:hover {
  color: color(primary);
  font-weight: bold;
}
.navbar-nav {
  position: absolute;
  right: 0;
  margin-right: 10%;
  justify-content: space-around;
  width: 20%;
}

.nav-link {
  // font-size: 22px;
  color: color(primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.nav-link:hover {
  text-decoration: none;
}
.banner {
  background-color: #0288d1;
  border-bottom: 1px solid #f5f5f5;
}

.btn-2 {
  letter-spacing: 0px;
}
.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid color(accent);
  bottom: 0px;
  content: "";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: color(accent);
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  svg {
    position: absolute;
    bottom: 0;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
  img {
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
}

.sect {
  img {
    border-right: 2px solid color(accent);
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  background-color: color(secondary);
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: color(secondary);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: color(accent);
}

/* Caption text */
.text {
  color: color(secondary);
  background: color(accent);

  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: color(secondary);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: color(accent);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: color(secondary);
}

/* Fading animation */
.fader {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.category {
  position: absolute;
  height: 20px !important;
  display: flex;
  background-color: color(secondary) !important;
  width: 100%;
  justify-content: space-evenly;
}

.category > div {
  border: 1px solid color(primary);
  width: 100%;
}

//project secion
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 8px 16px 0 color(secondary);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 16px 32px 0 color(primary);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.btn-project {
  background-color: color(secondary);
  color: color(accent);
}

//footer area
.curved {
  border-radius: 0% 0 50% 50%/ 0% 0 70% 70%;
  height: 100px;
  background-color: color(secondary);
  border-bottom: 10px solid color(accent);
}
footer {
  color: color(secondary);
  background-color: color(primary);

  .footer-link {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
    color: color(secondary);
  }
  .footer-link:hover {
    color: color(accent);
  }
  .footer-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .footer-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: color(accent);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }

  .contact {
    a {
      font-size: 0.9em;
    }
  }
  .footer-nav {
    a {
      font-size: 1.2em !important;
    }
  }

  .webdev {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .dev {
    font-family: shadowfont;
    font-style: italic;
  }
}

//admin page
.section-container {
  height: 500px;
  overflow-y: scroll;

  section:not(.active-section) {
    display: none !important;
  }
}

.image {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 16px 32px 0 color(primary);
  transition: 0.7s ease-in-out;
  img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
  }

  .btn-group {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}

.image:hover {
  opacity: 0.6;
  transform: scale(1.1);
  .btn-group {
    display: inline;
  }
}

//modal
#modal-image {
  width: 400px;
  object-fit: cover;
}
.jumbotron {
  form:not(.shown) {
    display: none;
  }
}

/* Carousel */

.carousel {
  position: relative;
  overflow: hidden;
  padding: 2em 0 2em 0;
  margin-bottom: 0;
}

.carousel .forward,
.carousel .backward {
  position: absolute;
  top: 50%;
  width: 6em;
  height: 12em;
  margin-top: -6em;
  cursor: pointer;
}

.carousel .forward:before,
.carousel .backward:before {
  content: "";
  display: block;
  width: 6em;
  height: 6em;
  border-radius: 100%;
  background-color: rgba(72, 57, 73, 0.5);
  position: absolute;
  top: 50%;
  margin-top: -3em;
  -moz-transition: background-color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
  -webkit-backface-visibility: hidden;
}

.carousel .forward:after,
.carousel .backward:after {
  content: "";
  width: 3em;
  height: 3em;
  position: absolute;
  top: 50%;
  margin: -1.5em 0 0 0;
  background: url("./../images/arrow.svg") no-repeat center center;
}

.carousel .forward:hover:before,
.carousel .backward:hover:before {
  background-color: color(accent);
}

.carousel .forward {
  right: 0;
}

.carousel .forward:before {
  right: -3em;
}

.carousel .forward:after {
  right: -0.25em;
}

.carousel .backward {
  left: 0;
}

.carousel .backward:before {
  left: -3em;
}

.carousel .backward:after {
  left: -0.25em;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.carousel .reel {
  white-space: nowrap;
  position: relative;
  -webkit-overflow-scrolling: touch;
  padding: 0 2em 0 2em;
}

.carousel .card {
  display: inline-flex;
  text-align: center;
  padding: 0 1em 3em 1em;
  margin: 0 3em 0 0;
  white-space: normal;
  opacity: 1;
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}

.carousel a {
  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}

.about {
  position: relative;
  background-color: #3c3d3e;
  padding: 10rem 0;
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    width: 100%;
  }

  li,
  h1,
  h3 {
    color: white;
  }

  h3 {
    font-weight: 600;
  }

  &__cards {
    display: flex;
    justify-content: space-around;

    .construction_service {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 300px;
        height: 170px;
        object-fit: cover;
        margin-bottom: 20px;
      }
    }
  }

  a.btn {
    width: 200px;
    align-self: center;
    margin-top: 50px;
  }
}

.core-services {
  position: relative;
  padding-top: 2.125rem;
  background-color: color(primary);
  color: #f5f5f5;

  h1.title {
    z-index: 3;
  }

  #service-card {
    margin-top: 3.125rem;
    position: relative;
    .card {
      z-index: 3;
      text-align: center;
      color: black;

      h3.card-title {
        color: color(secondary);
      }
    }

    svg {
      position: absolute;
      bottom: 0;
      z-index: 2;
      fill: #f5f5f5;
    }
  }
}

.mission {
  background-color: #f5f5f5;
  color: color(primary);
  display: inline-flex;
  justify-content: center;
  &__markup {
    width: 60%;
  }
}

.objective {
  /* Panels. */
  .splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
  }

  .panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
  }

  .panel .content {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    color: #fff;
  }

  .panel .description {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  .panel img {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bottom {
    background-color: rgb(44, 44, 44);
    z-index: 1;
  }

  .bottom .description {
    right: 5%;
  }

  .top {
    background-color: rgb(77, 69, 173);
    z-index: 2;
    width: 50vw;

    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
  }

  .top .description {
    left: 5%;
  }

  /* Handle. */
  .handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
  }

  /* Skewed. */
  .skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
  }

  .skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
  }

  .skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
  }

  /* Responsive. */
  @media (max-width: 900px) {
    body {
      font-size: 75%;
    }
  }
}

//hero section
.hero {
  position: relative;
  height: 600px;

  &__markup {
    position: absolute;
    top: 100px;
    left: 0;
    align-self: center;
    z-index: 3;
    justify-self: center;
    width: 80% !important;
    padding: 50px;
    h5 {
      font-size: 36px;
    }
    p {
      width: 60%;
      text-align: center;
      line-height: 40px;
      font-size: 22px;
      // color: color(accent);
    }
  }
  &__image {
    img {
      position: absolute;
      top: 0;
      right: 0;
      height: 500px;
      object-fit: cover;
    }
  }
}
