@font-face {
  font-family: "proxima-regular";
  src: url(../fonts/proxima/ProximaNova-Regular.otf);
}

@font-face {
  font-family: "gotham-regular";
  src: url(../fonts/gotham/GothamMedium.ttf);
}

@font-face {
  font-family: "gotham-bold";
  src: url(../fonts/gotham/GothamBold.ttf);
}

@font-face {
  font-family: "graphik";
  src: url(../fonts/graphik/GraphikRegular.otf);
}

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf);
}

@font-face {
  font-family: "shadowfont";
  src: url(../fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: graphik;
  margin: 0;
  padding: 0;
  outline: none;
  background: #eeeeee;
  height: 100vh;
}

.container-fluid {
  padding: 0;
}

h1,
h2,
h3,
h4 h5,
h6 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

a {
  position: relative;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #0288d1;
}

.accent {
  color: #0288d1;
}

.accent-background {
  background-color: #0288d1;
}

i {
  color: #eeeeee;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
  margin-right: 10px;
}

i:hover {
  color: #0288d1;
}

.spacing {
  margin: 5em 0;
}

.arch-btn {
  cursor: pointer;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  color: #0288d1;
  background: #eeeeee;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid #0288d1;
}

.arch-btn:hover {
  color: #eeeeee;
  background: #0288d1;
}

/* Awesome hr */
hr {
  margin: 0 !important;
}

hr.awesome-hr {
  overflow: visible;
  /* For IE */
  height: 30px;
  border-style: solid;
  border-color: #0288d1;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr.awesome-hr:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #0288d1;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

hr.cool-hr {
  height: 1px;
  background: #0288d1;
  border: none;
  outline: none;
  margin: 3em 3em 5em;
  position: relative;
}

hr.cool-hr:before {
  content: attr(data-symbol);
  position: absolute;
  top: 0;
  left: 50%;
  background: #eeeeee;
  color: #3b3c36;
  padding: 0.5em 3em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #0288d1;
}

.vertical-hr {
  height: inherit;
}

.vertical-hr .hr-right {
  border-style: solid;
  width: 20px;
  border-color: #0288d1;
  border-width: 0 0 0 1px;
  border-radius: 20px;
  height: 100%;
}

.vertical-hr .hr-left {
  border-style: solid;
  width: 20px;
  border-color: #0288d1;
  border-width: 0 1px 0 0;
  border-radius: 20px;
  height: 100%;
}

.navbar {
  -webkit-transition: top 0.8s;
  transition: top 0.8s;
  width: 100%;
  background-color: #eeeeee;
  z-index: 999999;
  height: 100px;
}

.navbar i {
  color: #3b3c36 !important;
}

.hidden {
  top: -100px;
}

.navbar-brand {
  color: #209cee;
  font-weight: bolder;
  font-size: 2em;
  text-transform: uppercase;
}

.navbar-brand:hover {
  color: #3b3c36;
  font-weight: bold;
}

.navbar-nav {
  position: absolute;
  right: 0;
  margin-right: 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 20%;
}

.nav-link {
  color: #3b3c36;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.nav-link:hover {
  text-decoration: none;
}

.banner {
  background-color: #0288d1;
  border-bottom: 1px solid #f5f5f5;
}

.btn-2 {
  letter-spacing: 0px;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid #0288d1;
  bottom: 0px;
  content: "";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #0288d1;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slideshow-container svg {
  position: absolute;
  bottom: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.sect img {
  border-right: 2px solid #0288d1;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  background-color: #eeeeee;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #eeeeee;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #0288d1;
}

/* Caption text */
.text {
  color: #eeeeee;
  background: #0288d1;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #eeeeee;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #0288d1;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #eeeeee;
}

/* Fading animation */
.fader {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.category {
  position: absolute;
  height: 20px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eeeeee !important;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.category > div {
  border: 1px solid #3b3c36;
  width: 100%;
}

.card {
  /* Add shadows to create the "card" effect */
  -webkit-box-shadow: 0 8px 16px 0 #eeeeee;
          box-shadow: 0 8px 16px 0 #eeeeee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  -webkit-box-shadow: 0 16px 32px 0 #3b3c36;
          box-shadow: 0 16px 32px 0 #3b3c36;
}

.card-img-top {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-project {
  background-color: #eeeeee;
  color: #0288d1;
}

.curved {
  border-radius: 0% 0 50% 50%/ 0% 0 70% 70%;
  height: 100px;
  background-color: #eeeeee;
  border-bottom: 10px solid #0288d1;
}

footer {
  color: #eeeeee;
  background-color: #3b3c36;
}

footer .footer-link {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  color: #eeeeee;
}

footer .footer-link:hover {
  color: #0288d1;
}

footer .footer-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

footer .footer-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #0288d1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

footer .contact a {
  font-size: 0.9em;
}

footer .footer-nav a {
  font-size: 1.2em !important;
}

footer .webdev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

footer .dev {
  font-family: shadowfont;
  font-style: italic;
}

.section-container {
  height: 500px;
  overflow-y: scroll;
}

.section-container section:not(.active-section) {
  display: none !important;
}

.image {
  position: relative;
  border-radius: 20px;
  -webkit-box-shadow: 0 16px 32px 0 #3b3c36;
          box-shadow: 0 16px 32px 0 #3b3c36;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.image img {
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.image .btn-group {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.image:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.image:hover .btn-group {
  display: inline;
}

#modal-image {
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.jumbotron form:not(.shown) {
  display: none;
}

/* Carousel */
.carousel {
  position: relative;
  overflow: hidden;
  padding: 2em 0 2em 0;
  margin-bottom: 0;
}

.carousel .forward,
.carousel .backward {
  position: absolute;
  top: 50%;
  width: 6em;
  height: 12em;
  margin-top: -6em;
  cursor: pointer;
}

.carousel .forward:before,
.carousel .backward:before {
  content: "";
  display: block;
  width: 6em;
  height: 6em;
  border-radius: 100%;
  background-color: rgba(72, 57, 73, 0.5);
  position: absolute;
  top: 50%;
  margin-top: -3em;
  -webkit-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
  -webkit-backface-visibility: hidden;
}

.carousel .forward:after,
.carousel .backward:after {
  content: "";
  width: 3em;
  height: 3em;
  position: absolute;
  top: 50%;
  margin: -1.5em 0 0 0;
  background: url("./../images/arrow.svg") no-repeat center center;
}

.carousel .forward:hover:before,
.carousel .backward:hover:before {
  background-color: #0288d1;
}

.carousel .forward {
  right: 0;
}

.carousel .forward:before {
  right: -3em;
}

.carousel .forward:after {
  right: -0.25em;
}

.carousel .backward {
  left: 0;
}

.carousel .backward:before {
  left: -3em;
}

.carousel .backward:after {
  left: -0.25em;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.carousel .reel {
  white-space: nowrap;
  position: relative;
  -webkit-overflow-scrolling: touch;
  padding: 0 2em 0 2em;
}

.carousel .card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  padding: 0 1em 3em 1em;
  margin: 0 3em 0 0;
  white-space: normal;
  opacity: 1;
  -webkit-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}

.carousel a img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  position: relative;
  background-color: #3c3d3e;
  padding: 10rem 0;
}

.about__image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  width: 100%;
}

.about li,
.about h1,
.about h3 {
  color: white;
}

.about h3 {
  font-weight: 600;
}

.about__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about__cards .construction_service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__cards .construction_service img {
  width: 300px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

.about a.btn {
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 50px;
}

.core-services {
  position: relative;
  padding-top: 2.125rem;
  background-color: #3b3c36;
  color: #f5f5f5;
}

.core-services h1.title {
  z-index: 3;
}

.core-services #service-card {
  margin-top: 3.125rem;
  position: relative;
}

.core-services #service-card .card {
  z-index: 3;
  text-align: center;
  color: black;
}

.core-services #service-card .card h3.card-title {
  color: #eeeeee;
}

.core-services #service-card svg {
  position: absolute;
  bottom: 0;
  z-index: 2;
  fill: #f5f5f5;
}

.mission {
  background-color: #f5f5f5;
  color: #3b3c36;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mission__markup {
  width: 60%;
}

.objective {
  /* Panels. */
  /* Handle. */
  /* Skewed. */
  /* Responsive. */
}

.objective .splitview {
  position: relative;
  width: 100%;
  min-height: 45vw;
  overflow: hidden;
}

.objective .panel {
  position: absolute;
  width: 100vw;
  min-height: 45vw;
  overflow: hidden;
}

.objective .panel .content {
  position: absolute;
  width: 100vw;
  min-height: 45vw;
  color: #fff;
}

.objective .panel .description {
  width: 25%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.objective .panel img {
  -webkit-box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.objective .bottom {
  background-color: #2c2c2c;
  z-index: 1;
}

.objective .bottom .description {
  right: 5%;
}

.objective .top {
  background-color: #4d45ad;
  z-index: 2;
  width: 50vw;
  /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

.objective .top .description {
  left: 5%;
}

.objective .handle {
  height: 100%;
  position: absolute;
  display: block;
  background-color: #fdab00;
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}

.objective .skewed .handle {
  top: 50%;
  -webkit-transform: rotate(30deg) translateY(-50%);
          transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
  transform-origin: top;
}

.objective .skewed .top {
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.objective .skewed .top .content {
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
  margin-left: 1000px;
}

@media (max-width: 900px) {
  .objective body {
    font-size: 75%;
  }
}

.hero {
  position: relative;
  height: 600px;
}

.hero__markup {
  position: absolute;
  top: 100px;
  left: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 3;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 80% !important;
  padding: 50px;
}

.hero__markup h5 {
  font-size: 36px;
}

.hero__markup p {
  width: 60%;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
}

.hero__image img {
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=main.css.map */